<footer>
	<div class="footer-logo">
		<img src="../../../assets/img/pngegg.png"  width="50px" height="50px" alt="">
	</div>
	<div class="footer-imgs">
		<img src="https://img.icons8.com/?size=100&id=3685&format=png&color=FFFFFF" alt="">
		<p>País/região: Brasil</p>
	</div>
	<section>

		<div class="footer-tagsA1">
			<a href="">Suporte</a>
			<a href="">Política de privacidade</a>
			<a href="">Termos de uso do site</a>
			<a href="">Mapa do site</a>
			<a href="">Playstation Studios</a>
			<a href="">Legal</a>
			<a href="">Sobre o SIEE</a>
		</div>
		<div class="footer-tagsA2">
			<a href="">Termos de serviço da PSN</a>
			<a href="">Política de cancelamento da PS Store</a>
			<a href="">Avisos de Saúde</a>
			<a href="">Sobre as classificações</a>
		</div>
		<div class="footer-tagsA3">
			<a href="">Facebook</a>
			<a href="">X</a>
			<a href="">Youtube</a>
			<a href="">Instagram</a>
			<a href="">Aplicativo para Android</a>
			<a href="">Aplicativo para iOS</a>
		</div>
	</section>
	<div class="copyright">
		<p>&copy; 2025 PlayStation Store | Projeto fictício desenvolvido por <a href="https://github.com/viannaingrid" target="_blank">Ingrid Vianna</a></p>
	</div>
</footer>
