<main>
	<section class="container-semana">
		<img src="../../../assets/img/BlackDesert.jpg" alt="">
		<h1>Promoção da semana!</h1>
		<ul>
			<li>Traveler Edition: de R$ 124,90 por R$ 56,20 (55% de desconto)</li>
			<li>Explorer Edition: de R$ 207,90 por R$ 93,55 (55% de desconto)</li>
			<li>Conqueror Edition: de R$ 414,90 por R$ 165,96 (60% de desconto)​</li>
		</ul>
	</section>
	<div class="categoria">
		<h2>{{ photoLabel }}</h2>
	</div>
	<section class="photos-temas">
  <a href="">
    <div class="card">
      <img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/1620730/d06c4a3bdaab677c714fe81f54b94404e10a7bf3/capsule_616x353.jpg?t=1745407974E" alt="Jogos de Ação">
      <h2>AÇÃO</h2>
    </div>
  </a>
  <a href="">
    <div class="card">
      <img src="https://image.api.playstation.com/vulcan/ap/rnd/202502/2615/1140a715ccbafe21bd8426512dbd889554f0f5a9a8b616a3.png" alt="Jogos de Tiro">
      <h2>ATIRADOR</h2>
    </div>
  </a>
  <a href="">
    <div class="card">
      <img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/3125750/118d6eba144eda2e24db8b908102932f7bd73019/capsule_616x353.jpg?t=1745303980" alt="Jogos de RPG">
      <h2>RPG</h2>
    </div>
  </a>
  <a href="">
    <div class="card">
      <img src="https://cdn1.epicgames.com/deab864e1abf4357b303bcd5ff6fe8da/offer/EGS_TonyHawksProSkater12_VicariousVisions_Editions_S1-2560x1440-cf08310a4025946dd646b7620f7c9562.jpg" alt="Jogos de Esportes">
      <h2>ESPORTES</h2>
    </div>
  </a>
  <a href="">
    <div class="card">
      <img src="https://assets.nintendo.com/image/upload/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000070540/9b4eb5c75512740acf564cb7c37eaf40fcdaaa71b7eb5cd87a2faac14b82d066" alt="combate">
      <h2>COMBATE</h2>
    </div>
  </a>
  <a href="">
    <div class="card">
      <img src="https://image.api.playstation.com/vulcan/ap/rnd/202502/2112/10579df1e23f6b22bb182355565d20d05b30b886ea85ef07.jpg?w=440" alt="terror">
      <h2>TERROR</h2>
    </div>
  </a>
  <a href="">
    <div class="card">
      <img src="https://store-images.s-microsoft.com/image/apps.33953.13806078025361171.9723cf5e-1e29-4d9d-ad0a-cc37a95bb75d.afabb748-2c30-4a7e-8072-2809a222192d?q=90&w=480&h=270" alt="corrida">
      <h2>CORRIDA</h2>
    </div>
  </a>
  <a href="">
    <div class="card">
      <img src="https://image.api.playstation.com/vulcan/ap/rnd/202504/0723/f537b01e718a47edd8f223176e6f558cf99b360d5682d8c4.png" alt="arcade">
      <h2>ARCADE</h2>
    </div>
  </a>
</section>

</main>