<div class="ofertas">
	<h1><a href="#Ofertas">Ofertas Disponiveis!</a></h1>
</div>
<div class="home__container">
	<div class="button-back">
		<a>
			<img src="https://img.icons8.com/?size=100&id=BgmSyTOFWbPx&format=png&color=FFFFFF" alt="">
		</a>
	</div>
	<app-card
	gameCover="./../../../assets/img/bt-1.jpg"
	gameLabel="Exclusive"
	gameType="Digital PS4 | PS5"
	gamePrice="R$159,90"
	></app-card>
	<app-card
	gameCover="../../../assets/img/bt-4.jpg"
	gameLabel="DIGITAL"
	gameType="Digital em todas as plataformas"
	gamePrice="R$259,90"
	></app-card>
	<app-card
	gameCover="./../../../assets/img/bt-5.jpg"
	gameLabel="Compre Agora"
	gameType="Fisico | Digital"
	gamePrice="R$ 379,90"
	></app-card>
	<app-card
	gameCover="./../../../assets/img/bt-bad-company-2.jpg"
	gameLabel="Digital | Fisico"
	gameType="Disponivel Fisico | Digital"
	gamePrice="R$99,90"
	></app-card>
	<app-card
	gameCover="./../../../assets/img/bt-hardline.jpg"
	gameLabel="PRÉ-Venda"
	gameType="Somente DIGITAL"
	gamePrice="R$289,90"
	></app-card>
	<div class="button-foward">
		<a>
			<img src="https://img.icons8.com/?size=100&id=TdtYPRi7NL8x&format=png&color=FFFFFF" alt="">
		</a>
	</div>
</div>