main{
	height: 200vh;
}

.home__container{
	width: 95%;
	height: 40vh;
	margin: 1rem ;
	padding-top: 3.125rem;

	display: flex;
	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
}

.ofertas {
	padding-top: 5rem;
	padding-left: 5rem;
	color: #f2eaea;

	h1{
		font-size: 40px;
		text-decoration: underline 2px;
	}

	a{
		text-decoration: none;
		color: #f2eaea;
		font-weight: 400;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
}

.button-back{
	display: flex;
	justify-content: center;
	align-items: center;


	img{
		width: 50px;

		&:hover{
			width: 55px;
		}
	}
}

.button-foward{
	display: flex;
	justify-content: center;
	align-items: center;

	img{
		width: 50px;

		&:hover{
			width: 55px;
		}
	}
}

.ofertas{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;

	h3{
		padding: 1rem;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-weight: 400;
	}

	div{
		width: 80vw;
		display: flex;
		justify-content: flex-end;

		button {
			appearance: button;
			background-color: #106c97;
			border: solid transparent;
			border-radius: 16px;
			border-width: 0 0 4px;
			box-sizing: border-box;
			color: #FFFFFF;
			cursor: pointer;
			display: inline-block;
			font-size: 12px;
			font-weight: 700;
			letter-spacing: .8px;
			line-height: 20px;
			margin: 0;
			outline: none;
			overflow: visible;
			padding: 10px 12px;
			text-align: center;
			text-transform: capitalize;
			touch-action: manipulation;
			transform: translateZ(0);
			transition: filter .2s;
			user-select: none;
			-webkit-user-select: none;
			vertical-align: middle;
			white-space: nowrap;

			&:after {
				background-clip: padding-box;
				background-color: #1094d1;
				border: solid transparent;
				border-radius: 16px;
				border-width: 0 0 4px;
				bottom: -4px;
				content: "";
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				z-index: -1;
			}

			&:main, button:focus {
				user-select: auto;
			}

			&:hover:not(:disabled) {
				filter: brightness(1.1);
			}

			&:disabled {
				cursor: auto;
			}

			&:active:after {
				border-width: 0 0 0px;
			}

			&:active {
				padding-bottom: 10px;
			}
		}

	}
}

.melhores-ofertas{
	margin-top: 18rem;
	background-color: #6bc6f7;
	border-top: 1px solid white;

	h2{
		padding-top: 2rem;
		color: #f6efef;
		margin-left: 10rem;
		text-transform: capitalize;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 3rem;
		font-weight: 200;
		padding-bottom: 2rem;
	}

	div{
		margin: 0 1rem 0 1rem;
		padding: 2rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	img{
		margin: 1rem;
		border-radius: 1rem;
		width: 16vw;
		height: 20vh;
		transition: transform .8s;


		&:hover{
			transform: scale(1.1);
		}
	}
}