main{
	border: 1px solid red;
	height: 200vh;
}

.home__container{
	width: 95%;
	height: 40vh;
	margin: 1rem ;
	padding-top: 3.125rem;

	display: flex;
	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
}

.ofertas {
	padding-top: 5rem;
	padding-left: 5rem;
	color: #f2eaea;

	h1{
		font-size: 40px;
		text-decoration: underline 2px;
	}

	a{
		text-decoration: none;
		color: #f2eaea;
		font-weight: 400;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
}

.button-back{
	display: flex;
	justify-content: center;
	align-items: center;


	img{
		width: 50px;

		&:hover{
			width: 55px;
		}
	}
}

.button-foward{
	display: flex;
	justify-content: center;
	align-items: center;

	img{
		width: 50px;

		&:hover{
			width: 55px;
		}
	}
}

.melhores-ofertas{
	margin-top: 18rem;
	background-color: #6bc6f7;
	border-top: 1px solid white;

	h2{
		padding-top: 2rem;
		color: #f6efef;
		margin-left: 10rem;
		text-transform: capitalize;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 3rem;
		font-weight: 200;
		padding-bottom: 2rem;
	}

	div{
		margin: 0 1rem 0 1rem;
		padding: 2rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	img{
		margin: 1rem;
		border-radius: 1rem;
		width: 16vw;
		height: 20vh;
		transition: transform .8s;


		&:hover{
			transform: scale(1.1);
		}
	}
}