<main>
	<section class="ofertas">
		<h1><a href="">Ofertas Disponiveis!</a></h1>
		<h3>Aproveite! Ofertas por tempo limitado em jogos digitais e expansões e parcele em até 4x sem juros!</h3>
		<div>
			<button>Poupe Já</button>
		</div>
	</section>
	<section class="home__container">
		<div class="button-back">
			<a>
				<img src="https://img.icons8.com/?size=100&id=BgmSyTOFWbPx&format=png&color=FFFFFF" alt="">
			</a>
		</div>
		<app-card
		gameCover="./../../../assets/img/bt-1.jpg"
		gameLabel="Exclusive"
		gameType="Digital PS4 | PS5"
		gamePrice="R$159,90"
		></app-card>
		<app-card
		gameCover="../../../assets/img/bt-4.jpg"
		gameLabel="DIGITAL"
		gameType="Digital em todas as plataformas"
		gamePrice="R$259,90"
		></app-card>
		<app-card
		gameCover="./../../../assets/img/bt-5.jpg"
		gameLabel="Compre Agora"
		gameType="Fisico | Digital"
		gamePrice="R$ 379,90"
		></app-card>
		<app-card
		gameCover="./../../../assets/img/bt-bad-company-2.jpg"
		gameLabel="Digital | Fisico"
		gameType="Disponivel Fisico | Digital"
		gamePrice="R$99,90"
		></app-card>
		<app-card
		gameCover="./../../../assets/img/bt-hardline.jpg"
		gameLabel="PRÉ-Venda"
		gameType="Somente DIGITAL"
		gamePrice="R$289,90"
		></app-card>
		<div class="button-foward">
			<a>
				<img src="https://img.icons8.com/?size=100&id=TdtYPRi7NL8x&format=png&color=FFFFFF" alt="">
			</a>
		</div>
	</section>
	<section class="melhores-ofertas">
		<h2>Top 10 de melhores jogos do seu país</h2>
		<hr>
		<div>
			<img src="../../../assets/img/Elden Ring.jpeg" alt="">
			<img src="../../../assets/img/Final Fantasy VII Rebirth.jpeg" alt="">
			<img src="../../../assets/img/Horizon Forbidden West.jpeg" alt="">
			<img src="../../../assets/img/Marvel's Spider-Man-2.jpeg" alt="">
			<img src="../../../assets/img/Monster Hunter Wilds.jpeg" alt="">
			<img src="../../../assets/img/The Last of Us Parte II.jpeg" alt="">
			<img src="../../../assets/img/the last of us.jpeg" alt="">
			<img src="../../../assets/img/Astro Bot.jpeg" alt="">
			<img src="../../../assets/img/Uncharted 4 A Thief's End.jpeg" alt="">
			<img src="../../../assets/img/The Witcher 3-Wild Hun.jpeg" alt="">
		</div>
	</section>
</main>