.menu-bar__container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #f8f6f6;
	position: fixed;
	z-index: 999;
	width: 100%;
}

.menu-bar__logo{
	img{
		width: 6vw;
		height: 6vh;
	}
}

.menu-bar__item {

	ul{
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 60vw;
		height: 3vh;
		padding: .30rem;
	}

	a{
		text-decoration: none;
		color: #042750;
	}
}