.menu-bar__container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #f8f6f6;
	width: 100%;
	height: 7.5vh;
	box-shadow: 0px 0px 6px 0px #00000080;
}

.menu-bar__logo{
	img{
		width: 3vw;
		height: 6vh;
	}
}

.menu-bar__item {

	ul{
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 20vw;
		height: 3vh;
		padding: .30rem;
	}

	a{
		text-decoration: none;
		color: #042750;
	}
}